.UIBootMenu {
  border: 3px solid #56ff00;
  border-radius: 3px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: ui-boot-menu-gradient 15s ease infinite;
}

@keyframes ui-boot-menu-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}